# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
#	user = Aaron Wortham
#	email = awortham@BCIs-MacBook-Pro-2.local
[user]
	email = wortham.aaron@gmail.com
	name = Aaron Wortham
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/awortham/.gitignore_global
[alias]
	aa = add .
	alias = config --get-regexp alias
	b = branch
	co = checkout
	d = diff
  db = "!f() { git b -D $1 && git remote prune origin; }; f"
  dbr = branch-delete '$1'
  dt = checkout db/structure.sql
	glog = log -E -i --grep
	last = log -1 HEAD
  lom = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative origin/master..head
	mup = !git checkout master && git pull origin master
  pr = !hub pull-request -o
	pretty = log --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s'
  pu = !git pull origin `git rev-parse --abbrev-ref HEAD`
  rema = !git fetch && git rebase -i origin/master
	sla = log --oneline --decorate --graph --all
	uncommit = reset --soft HEAD^
	unstage = reset
  take = "!f() { git co -b awortham/$1; }; f"
[push]
  default = current
[credential]
	helper = osxkeychain
[rebase]
	autosquash = true
	instructionFormat = (%an <%ae>) %s
