# This is Git's per-user configuration file.
[user]
	email = wortham.aaron@gmail.com
	name = Aaron Wortham
	signingkey = 6B29E3650E4A18E8
[core]
	editor = nvim
	excludesfile = /Users/awortham/.gitignore_global
	pager = git-split-diffs --color | less -RFX
[alias]
	aa = add .
	alias = config --get-regexp alias
	b = branch
  caa = commit -a --amend -C HEAD
	co = checkout
	d = diff
  db = "!f() { git b -D $1 && git remote prune origin; }; f"
  dbr = branch-delete '$1'
  dun = clean -f -d
	glog = log -E -i --grep
	last = log -1 HEAD
  lor = "!f() { git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative ${1:-origin/main}..HEAD; }; f"
  lomin = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative origin/main..head --author='Aaron Wortham'
  mine = log --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s' --author='Aaron Wortham'
	mup = !git switch main && git pull origin main
  pr = !git push && gh pr create --label 'wip' --web --assignee '@me'
	pretty = log --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s'
  pu = !git pull origin `git rev-parse --abbrev-ref HEAD`
  rema = !git fetch && git rebase -i origin/main
	sla = log --oneline --decorate --graph --all
  names = show --name-only
	uncommit = reset --soft HEAD^
  undo = "!f() { git reset --soft HEAD^ && git reset; }; f"
	unstage = reset
  unstage-file = "!f() { git restore --staged $1; }; f"
  take = "!f() { git co -b aw-$1; }; f"
  reorient = "!f() { git push origin +main:$1 && git reset --hard origin/$1 ; }; f"
  reset-file = "!f() { git checkout origin/main $1; }; f"
  wip = commit -am 'WIP'
[push]
	default = current
[rebase]
	autosquash = true
	instructionFormat = (%an <%ae>) %s
[merge]
  no-edit = true
  ; conflictstyle = zdiff3
[pull]
	default = current
	rebase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[hub]
	protocol = ssh
[commit]
	gpgsign = false
[url "https://github.com/"]
	insteadOf = git@github.com:
	insteadOf = ssh://git@github.com/
	insteadOf = http://github.com/
[credential]
  helper =
  helper = !$(brew --prefix)/bin/gh auth git-credential
[fetch]
	prune = true
	pruneTags = true
